<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>멋북스 메인!</h2>

    <span sec:authorize="isAnonymous()">로그인을 해주세요~</span>
    <span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}"></span>
    <span sec:authorize="isAuthenticated()" th:text="${#authentication.principal.nickname}"></span>

    <form th:action="@{/members/logout}" method="post" sec:authorize="isAuthenticated()">
        <button type="submit">로그아웃</button>
    </form>
</body>
</html>